*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    width: 200px;
    height: 200px;
    background-color: tomato;

}
.item:hover{
    transform: scale(2);
}