* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
        font-size: 18px;
        line-height: 25px;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        
    }    
    .container {
        max-width: 946px;
        margin:0 auto;
    }
header nav {
    text-align: center;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
    
}
li {
    display: inline-block;
}
.title-page{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #070707;
}
h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 64px;
}
.title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center ;
}
.titlemargin {
    padding-top: 100px;
    padding-bottom: 28px;
}
.title-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #828282;
padding-top: 44px;
}
.ppading {
    padding-top: 15px;
  text-decoration: underline;
  
}
.divclass1 {
    padding-bottom: 44px;
}
.divclass {
    padding-bottom: 78px;
}
.tatleskills {
    padding-top:2px ;
    padding-bottom: 44px;
}
.divam2 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.divam3 {
    margin-top: 60px;
    margin-bottom: 60px;

}

.divport{
    padding-top: 15px;
   padding-bottom: 128px;
}
.divport1{
    padding-top: 7px;
    padding-bottom: 136px;
}
.titleskills {
    display: inline-block;
    text-align: center;
    padding-right: 90px;
}
.titleckells2 {
    text-align: center;
    padding-top: 78px;
    width: max-content;

   
}
.titlesocial {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;


}
.titleb {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    text-align: center;
    padding-top:30px;
}
    .containernav {
        margin-top: 22px;
        margin-bottom: 34px;
    }
    .titletext {
        text-decoration: none;
    } 
    .ccc {
         color:  #828282;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .contasnerhome {
        margin-top: 34px;
        
    }
  .containerabout {
      margin-top: 100px;
    margin-bottom: 100px;
    background: #F6F6F6;
  }
.containerskills {
    margin-top: 100px;
    margin-bottom: 83px;
    

}
.titlepor {
    padding-top:118px ;
   
}
.textskillsp {
    padding: 43px 609px 79px 608px;
}
.containerport {
    background-color:  #F6F6F6;
    
}
.contport1 {
    margin-top: 67px;
    margin-bottom: 15px;
}
.contaipor2 {

    padding-bottom: 7px;
}

.divport2 {
    padding-top: 7px;
    padding-bottom:136px;
    width: 100%;
}
.marginfooter {
    margin-top: 100px;
    margin-bottom: 159px;
    max-width: 341px;
    text-align: center;
}
.divcon {
    padding-top: 21px;
    padding-bottom: 86px;
}
.divcon1 {
    padding-top: 86px;
    padding-bottom: 31px;
}
.divcon2 {
   padding-top: 30px;

}

.titlecont {
    padding-bottom: 21px;
}
.padd {
    padding-top: 21px ;
}
#Aboutme {
    background: #F6F6F6;
}
.divam3 {
    padding-bottom: 100px;
}
.condiv1 {
    text-align: center;
   max-width: 340px;
   margin: o auto;
}
.denpd {
    padding-top: 33px;
    
}
.imgnovak {
  width: 100%;
}
.paddabode {
    padding-top: 23px;
    max-width : 120px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
}
.paastars {
    padding-top: 60px;
    
}
.paastars2 {
    padding-top: 70px;
}
.imgdenis {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
padding-top: 21px;
}

.imfi {
    padding-left: 30px;
    text-align: center;
}
.imfi2 {
    padding-left: 30px;
}
.imfi3 {
    padding-left: 30px;
}
.imfi4 {
    padding-left: 50px;
}
.linri {
    padding-left: 2px;
    padding-right: 55px;
}
.with {
    width: max-content;
}
.linri1 {
    padding-right:55px;
}
.texxx {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
}
.buttco {
    background-color: #070707;
}