*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #16133D;
}

header {

    border-bottom: 1px solid #EFEEF3;

}

footer {
    background-color: #16133D;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.contmain {
    Width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    color: #16133D;
}

.marg1 {
    margin-top: 25px;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
}

h2 {
    font-family: Nunito Sans;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo {
    margin: 25px 13px 13px 137px;
}

.blokflex {
    display: flex;
    justify-content: space-between;
}

.blok {
    width: 370px;
    height: 340px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;


}

.blok:hover {
    width: 370px;
    height: 340px;
    border: 1px solid #3DB370;
    border-radius: 8px;
    transition-duration: 3s;
    transition-timing-function: ease;
    


}

.border {
    width: 64px;
    height: 64px;
    border: 1px solid #E5EAF4;
    border-radius: 16px;
    padding: 13px;
}

.content {
    width: 290px;
    height: 260px;
    margin: 40px;

}

.text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin-top: 20px;
    margin-bottom: 15px;
}

.green {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
    padding-top: 30px;
    text-decoration: none;

}

.blok svg {
    fill: #007FFC;
    stroke: #007FFC;
    transition: fill;
    
}

.blok:hover svg {
    fill: #52C29D;
    stroke: #52C29D;
    transition-duration: 3s;
     transition-timing-function: ease;

}

.marg {
    margin-top: 30px;
}

.border2 {
    width: 64px;
    height: 64px;
    border: 1px solid #E5EAF4;
    border-radius: 16px;
}

.blok:hover .border {

    border: 1px solid #3DB370;
    border-radius: 16px;
    transition-duration: 3s;
    transition-timing-function: ease;
}

.black {
    color: #FFFFFF;
    margin-top: 40px;
}

.padd {
    padding: 13px 18px;
}

.flex {
    display: flex;
    vertical-align: middle;
}

.logo2 {
    margin: 43px 13px 43px 136px;
}

.fon,
.back {
    width: 38px;
    height: 38px;
    border: 1px solid #E5EAF4;
    background: #EFEEF3;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 9px;
}

.borderfirst {
    margin-left: 125px;
    margin-bottom: 40px;

}

.bordesec {
    margin-left: 10px;
}

.fon {
    width: 38px;
    height: 38px;
    border: 1px solid #E5EAF4;
    background: #EFEEF3;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 9px;
}

.card {
    background-color: transparent;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.cardinn {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.fon {
    width: 38px;
    height: 38px;
    border: 1px solid #E5EAF4;
    background: #EFEEF3;
    border-radius: 5px;
    padding: 9px;
}

.back {
    transform: rotateY(180deg);
    width: 38px;
    height: 38px;
    border: 1px solid #E5EAF4;
    background: #EFEEF3;
    border-radius: 5px;
    padding: 9px;

}

.cardinn:hover .fon {
    transform: rotateY(180deg);
    transition-duration: 2s;
     transition-timing-function: ease;
}

.cardinn:hover .back {
    transform: rotateY(360deg);
    transition-duration: 2s;
     transition-timing-function: ease;
}

.fon,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}