* ,
::after,
::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
  
}
body{
    font-family:PT Sans,Tourney;
    color: black;
    font-size: 28px;
    line-height: 48px;
    font-weight: 400;
}
.containernav{
    text-align: center;
}
.fron {
font-family: Tourney;
font-weight: 600;
font-size: 22px;
line-height: 18px;
display: inline-block;
padding: 16px 50px 16px 0;

}
li {
 display: inline-block;
 font-family: Staatliches;
 font-weight: 400;
font-size: 22px;
line-height: 28px;
 padding-right: 10px;
 padding-top: 13px;
}
h2{
font-family:Francois One;
font-size:36px ;
line-height: 48px;
font-weight: 400;
display: inline-block;
margin-right: 10px;
}

header div{
    display: inline-block;
}


li:nth-child(3){
padding-right:550px;
}
.arro{
    font-family:Farro ;
    font-family: 'Farro', sans-serif;
    vertical-align:top;
    font-weight: 300;
    font-size: 15px;
    display: inline-block;
    
   
    }
.pt{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    padding-top: 40px;
}
span{
    text-decoration: underline;
}
.padd{
    padding-top: 70px;
}
.ptt{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 48px;
text-decoration: none;

}

.spamcolor{
    background-color: rgb(218, 210, 210);
    text-decoration: none;
    
}
.contop{
    margin-top: 83px;
}
.itl{
    font-family: 'PT+Sans:ital';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    padding-top: 40px;
    text-decoration: none;

}