*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    font-family: PT Sans, Tourney;
    color: black;
    font-size: 28px;
    line-height: 48px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: white;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;

}

main .container {
    padding-top: 67px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;


}

.container2 {
    max-width: 785px;
    margin: 0 auto;


}

.container1 {
    max-width: 385px;
    margin: 0 auto;
    margin-right: 30px;
}


.containernav {
    vertical-align: middle;
    padding-top: 13px;
    margin-bottom: 70px;

}

.fron {
    font-family: Tourney;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    display: inline-block;

    letter-spacing: 0.04em;

}

li {
    display: inline-block;
    font-family: Staatliches;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-right: 10px;
    padding-top: 0;
}

h2 {
    font-family: Francois One;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    letter-spacing: 0.04em;

}

header div {
    display: inline-block;
}


li:nth-child(3) {
    padding-right: 550px;
}

.arro {
    font-family: Farro;
    font-family: 'Farro', sans-serif;
    vertical-align: top;
    font-weight: 300;
    font-size: 15px;
    display: inline-block;
    line-height: 15px;
    letter-spacing: 0.04em;


}

.pt {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    padding-top: 40px;
}

span {
    text-decoration: underline;
}

.padd {
    padding-top: 70px;
}

.ptt {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    text-decoration: none;

}

.spamcolor {
    background-color: rgb(218, 210, 210);
    text-decoration: none;

}

.contop {
    margin-top: 83px;
}

.itl {
    font-family: 'PT+Sans:italic';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    padding-top: 40px;
    text-decoration: none;

}

.img {
    vertical-align: middle;
    display: inline-block;
}

.line {
    width: 100px;
    height: 8px;
    background: #000000;
    margin-bottom: 20px;
}

.nav1 a {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding-left: 10px;
}

.nav1 {
    padding-bottom: 10px;

}

.li1 {
    white-space: nowrap;
}

.marnav {
    margin-bottom: 70px;
}

.blokflex {
    display: flex;
}

.stiked {
    position: -webkit-sticky;
    position: sticky;
    top: 67px;
}