* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
font-size: 16px;
line-height: 26px;
color: #000000;
}
.container {
    max-width: 1200px;
    margin:0 auto;
    
}
.containerim{
    margin: 17px 120px;
}

header {
    text-align: center;
    
}
li{
    display: inline-block;
        
}
.imgpadd{
    width: max-content;
    padding-top: 7px;
    padding-bottom: 7px;
}
header nav{
    padding: 9px 198px;
}
h1 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
color: #2F281E;
padding-top: 97px;
}
.left{
width: 500px;
height: 301px;
}
.toptext{
    padding-top: 30px;
}
.containerbutt{
    width: 180px;
    height: 50px;
    background-color:#FF9900;
}
.battontop{
    margin-top: 20px;
}
.rihht{
    width: 500px;
    height: 301px;

}


