* ,
::after,
::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    
}
.container {
    
    Width: 793px;
    margin: 0 auto;
}
h1,
h2{
    color: #FF8984;
    text-align: center;
}
h1{
    margin: 19px 270px 4px 247px;
    width: max-content;
}
span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    align-items: center;
   color: #FFFFFF;

}
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    position: relative;
}
.main{ 
   width: 793px;

}
.color{
    background-color:  #4A4F56;
}
.main{
    background-color: #3B3F45;
}


main,
.color1{
    background-color: #88839E;
    margin:  20px 130px 0px 129px;

   
}

input
{


display: none;

}
label{
    padding: 12px 16px 14px 12px;
    display: block;
  
}
.color2
{
    background-color:#88839E;
   
    margin:  0 130px 0px 129px;
}

.footer h2{
    padding: 12px 223px 12px 204px;
    margin: 45px 130px 45px 129px;
    color:  #FF8984; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: #4A4F56
 
}


.main 
div :second-child {
    background-color: #88839E;;
}
.chek{
    width: 19px;
    height: 19px;
    background-color: white;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
}
input:checked + label .chek::before{
    content:url(../image/Vector\ 1.png);
    position: absolute;
    left: 3px;
    top: 4px;
}
input:checked + label .dekor,
input:checked + label .dekor span
{
    text-decoration: line-through;
    
}
input:checked + label,
input:checked + label .dekor span{
    background-color:#7A7593;
    color: #9B96AC;
}

div label:hover{
    background-color: #625E77;
    border: 3px solid #FFFFFF;
    border-left: 0;
    border-right: 0;
}
div label:active{
    background-color: #625E77;
    border: 3px solid #ec0c0c;
    border-left: 0;
    border-right: 0;
}
.color2:nth-child(2){
    color: #d7c8c8;
}
