* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body {
    font-family: "Open Sans", "Courier", "monospace";
    font-size: 15px;
    font-weight: 400;
    
 }
 .main {
     padding-top: 117px;
     padding-bottom: 36px;
    background-color: #121116;
     
     
 }
 .container {
     width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    
    
 }
.bloc {
   
   padding:  15px 0 70px;
   width: max-content;
}
.colorw {
    color: #ffffff;
}
span {
    color: #1e98bc;
}
h2 {
    padding: 40px 0 17px;
}
.marfa {
   
  padding-right: 40px;
}
.con2 {
    margin: 0 auto;
max-width: 260px;
}

.fac {
    padding-left: 50px;
}
.twi {
    padding-left: 33px;
}
.ggg {
    padding-left: 35px;
}
.drr {
    padding-left: 23px;
}