*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    max-width: 570px;
    margin: 0 auto;
}
h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1C;
    margin:35px 335px 0 36px;
}
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}
.textpadd{
    padding-top: 7px;
    padding-bottom: 20px;
}
h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
letter-spacing: -0.2px;
color: #545454;
padding-top: 20px;
padding-bottom: 7px;
}
.dis{
    display: inline-block;
}
.padspan{
    padding-right: 21px;
}
form{
    padding: 35px;
}
.divclass{
    display: flex;
    justify-content: space-between;
}
input{
    border: 1px solid #E4E4E4;
    outline:none
}
input:hover{
    border-color: #007BFF;
}
input:active{
    border-color: tomato;
}
input:focus{
    border-color: yellow;
}
.input{
    Width:245px;
    Height:38px;
}
.inputmail{
    Width:500px;
    Height:38px;
}
input[type="checkbox"]{
    display:none;
   
}
.checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
}

input[type="checkbox"]:checked + label .checkbox{

width: 20px;
height: 20px;
border-radius: 50%;
border: 5px solid #007BFF;
}
button{
    background-color: #007BFF;
    width: 500px;
    height: 38px;
   margin-top: 20px;
    margin-bottom: 22px;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}
.ptexy{
    text-align: center;
    
}
.p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;

}
.bord{
    border-top:1px solid  #E4E4E4;
    margin-top: 20px;
}
.aa{
    padding-right: 7px;
}
.aa2{
    padding-left: 7px;
}
.h2rite{
    padding-right: 20px;
}
.textspam{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}
select{
    border: 1px solid #E4E4E4;
}
 